h1 {
	font-family: Times New Romans;
	font-size: 45px;
	font-weight: bold;
	color: #4B0082;
	text-align: center;
	img class="img-thumbnail" src="2faa8c1a250960344eb62d03ecd8dc73.jpg" alt="свечи";
}
p {font-family: Times New Romans;
	font-size: 20px;
	color: #8A2BE2;
	text-align: center;
	class="font-italic">Italicized text.;
}
h2 {font-family: Times New Romans;
	font-size: 30px;
	color: #4B0082;
	text-align: center;
}
body {background-image: url("C:/Users/Alex/Desktop/клубника/bng/web23/итог/фон.jpg");
}
h3 {text-align: center;
	color: #4B0082;
	font-size: 15px
}